/* Fondo oscuro detrás */
#notificationOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 9998;
  display: none;
  backdrop-filter: blur(2px);
}

/* Modal flotante */
.floating-notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #01011d; /* color principal de tu app */
  color: #fff;
  padding: 18px 14px 26px;
  border-radius: 16px;
  width: 90%;
  max-width: 360px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  z-index: 9999;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.08);
  display: none;
}

/* ---- LOGO arriba ---- */
.notification-logo {
  width: 260px;       /* casi ancho completo */
  height: auto;       /* mantiene proporción real */
  max-height: 180px;  /* evita que se deforme */
  object-fit: contain;
  margin: 0 auto 18px;
  display: block;
  opacity: 1;
}



/* Imagen */
.notification-banner {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 14px;
}

/* Texto */
.notification-text {
  margin-bottom: 18px;
}

.notification-title {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 6px;
  line-height: 1.3;
  color: #dfe4ff;
}

.notification-title strong {
  display: inline;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.notification-description {
  font-size: 14px;
  opacity: 0.85;
  color: #c9d1ff;
  line-height: 1.4;
}

/* Botones */
.notification-button {
  display: block;
  width: 90%;
  max-width: 280px;
  margin: 6px auto;
  padding: 12px;
  border-radius: 24px;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  transition: all 0.2s ease;
}

/* Botón principal */
.notification-button.primary {
  background-color: #244dd6;
  color: #ebe9e9;
}

.notification-button.primary:hover {
  background-color: #0066ff;
}

/* Botón secundario */
.notification-button.secondary {
  border: 1.5px solid #244dd6;
  color: #dedee7;
  background-color: transparent;
}

.notification-button.secondary:hover {
  background-color: rgba(55, 115, 226, 0.993);
}

/* Botón cerrar */
.close-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 26px;
  color: #999;
  cursor: pointer;
  transition: 0.2s;
}

.close-btn:hover {
  color: #fff;
}
