/* =========================================================
   LOGOS SWIPER - AJUSTE GLOBAL
   ========================================================= */

.title-logo {
    display: block;
    width: auto;
    height: auto;

    max-width: 72%;
    max-height: 105px;
    min-height: 55px;

    object-fit: contain;
    object-position: left bottom;

    margin-bottom: 0;

    filter: drop-shadow(0 3px 5px rgba(0,0,0,.7));
}


/* =========================================================
   SWIPER HORIZONTAL
   ========================================================= */

.swiper-preview-landscape .title-logo {
    max-width: 45%;
    max-height: 115px;
}


/* =========================================================
   SWIPER DESKTOP
   ========================================================= */

.swiper-preview-desktop .title-logo {
    max-width: 42%;
    max-height: 125px;
}

/* =========================================================
   LOGOS VERTICALES Y REDONDOS
   ========================================================= */

.title-logo.logo-vertical {
    max-width: 55%;
    max-height: 155px;
}

.title-logo.logo-compact {
    max-width: 60%;
    max-height: 140px;
}